# Orchestrator
ORCHESTRATOR_URL=https://citare-orchestrator.onrender.com
ORCHESTRATOR_API_KEY=oDEYGPUdYrZT2Vh_dYC7ge0sTAJv9jWcUC9MX1_NMhg

# OpenAI (caso necessário como fallback)
OPENAI_API_KEY=

# Neon Postgres
DATABASE_URL=postgresql://neondb_owner:npg_YuwHd0JXs4zN@ep-sweet-sound-adi18c8z-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
# Extra
MERCADOPAGO_ACCESS_TOKEN=
NEXT_PUBLIC_BASE_URL=http://localhost:3000
